* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
   font-family: "Roboto";
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0,0,0,0);
   white-space: nowrap;
   border-width: 0;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;

   font-weight: 700;
   font-size: 1.4rem;
   line-height: 24px;

   transform: uppercase;
   cursor: pointer;
   padding: 0.4rem 2.4rem;

   border-radius: .5rem;
}

.primary {
   color: #FFF;
   transition: 200ms;

   background: #6246EA;
   border-radius: 0.5rem;
}

.secondary{
   color: #6246ea;
   background: transparent;
}

.primary:hover {
   background: #6246ea;
   color: white;
}

.secondary:hover{
   background: #6246ea;
   color: white;;
}


body {
   font-size: 1.6rem;
}

input, select, button {
   font-family: "Roboto";
   all: unset;
}

header {
   min-height: 53.2rem;
   background-color: #F8F8FF;

   position: relative;
   overflow: hidden;

   display: grid;
}

header::before {
   content:"";
   display: block;
   background-image: url(./assets/penas.svg);
   background-repeat: no-repeat;
   width: 40.7rem;
   height: 34.5rem;

   position: absolute;
   z-index: 0;
   top: 0;
   left: 0;
}

header::after {
   content:"";
   background-image: url(./assets/dançarina.svg);
   width: 41.4rem;
   height: 33rem;

   position: absolute;
   bottom: -1.2rem;
   right: 0;
}

header .content {
   width: fit-content;
   margin: auto;
}

header .content .top{
   text-align: center;
}

header p {
   font-weight: 500;
   line-height: 160%;

   letter-spacing: 0.1rem;
   text-transform: uppercase;
   color: #E45858;
}

header h1 {
   font-size: 4.8rem;
   line-height: 125%;
   color: #121214;

   max-width: 64.7rem;
   margin: 1.8rem auto 0;
}

header h1 span {
   color: #6246EA
}

form {
   margin-top: 4rem;
   display: flex;
   padding: 40px;
   gap: 24px;


   background: #FFFFFF;
   border: 1px solid #EAEAEA;
   border-radius: 10px;
}

.search-field {
   display: flex;
   align-items: center;
   gap: 1.2rem;

   background: #F4F4FF;
   border-radius: 0.5rem;
   padding: 1.2rem 0.8rem 1.2rem 1.4rem;
}

input, select {
   color: #7C7C8A;
}

.search-field i {
   color: #E45858;
   font-size: 2.4rem;
}

select, .select {
   position: relative;
}

select {
   z-index: 1;
}

select i.iph-caret-down-light {
   position: absolute;
   right: 1rem;
   z-index: 0;
   color: #858793;
}

form button {
   padding: 1.2rem 3.2rem;
}


main > .content{
   max-width: 1216px;
   margin: 10rem auto;
}

section.top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

section.top .view {
   display: flex;
   padding: 8px;

   border: 1px solid #EAEAEA;
   border-radius: 6px;
}

section.cards {
   margin-top: 4rem;

   display: grid;
   gap: 3.2rem;
   grid-template-columns: 1fr 1fr 1fr;
}

.card {
   background: #fff;
   border: 1px solid #eaeaea;
   border-radius: 1rem;
   max-width: 38.4rem;
   overflow: hidden;
}

.card:hover {
   cursor: pointer;
   transition: 500ms;
   -webkit-transform: scale(0.8);
   -ms-transform: scale(0.8);
   transform: scale(1.05);
}

.card .content {
   display: grid;
   gap: 1.6rem;
   padding: 1.6rem;
}

.card p {
   opacity: .75;
}

.card h3 {
   color: #121214;
   font-size: 20px;
   line-height: 140%;
}

.card .location {
   display: flex;
   align-items: center;
   gap: 1.2rem;
}

.location i {
   color: #e45858;
   font-size: 2.4rem;
}