* {
   margin: 0;
   padding: 0;
}

p, button {
   color: #EBEBEB;
   font-family: 'Rubik';
}

.app {
   height: 100vh;
   background-image: linear-gradient(0deg, #8e7ece, #867ece, #807ece );
}

.wrapper {
   height: 100%;
   display: grid;
   place-content: center;
}

.calculadora {
   background: #2D2A37;
   padding: 1.2rem 1rem;
   border-radius: 20px;
}

p#resultado {
   padding: 1rem;
   text-align: right;
}


button {
   width: 50px;
   height: 50px;
   padding: 8px;

   background: transparent;
   border: none;
   border-radius: 50%;
   box-shadow: 1px 1px 5px black;   

   cursor: pointer;
}